.volume-dialog {
    max-width: 90%;
    width: 90%;
    background-color: rgba(255,255,255,.9);
    padding: 0 10px;
    img{
        margin: auto;
        display: block;
        max-width: 10%;
    }
    .item.range{
        background: none;
        border: none;
        padding: 0;
    }
    .desc-range-position{
        padding: 0 5px;
    }
    button.button.button-block{
        margin-top: 20px;
        max-height: 35px;
        min-height: 35px;
        font-size: 12px;
        line-height: 36px;
    }
}
