.notification-dialog {
    max-width: 90%;
    width: 90%;
    background-color: rgba(255, 255, 255, .9);
    .md-subhead {
        margin: 10%;
        text-align: center;
    }
    .button-wrapper {
        padding: 10px 5px;
        button {
            margin: 0 5px;
            max-height: 35px;
            min-height: 35px;
            font-size: 12px;
            line-height: 36px;
        }
    }
    .button-quickacion {
        margin: 0;
    }
}
