.tutorial-dialog {
    min-width: 100%;
    min-height: 100%;
    background: none;
    border-radius: 0;
    ion-pane {
        background: rgba(0, 0, 0, 0.55);
        .slider {
            color: $color-grey-light;
            height: 100%;
            .slider-slides {
                z-index: 2;
                ion-slide {
                    .button-top {
                        margin: 5px;
                        width: 80px;
                        min-height: 34px;
                        padding: 0 8px;
                        &.alert {
                            margin-left: auto;
                        }
                        img {
                            width: 17px;
                        }
                        p {
                            margin: 0;
                            line-height: 33px;
                        }
                    }
                    h2, h3 {
                        color: $color-white;
                    }
                    .desc-wrapper {
                        padding: 16px;
                        .tutorial-separator {
                            border: 1px solid $color-border;
                            margin: 8% 0;
                        }
                    }
                    &:nth-child(2) {
                        h2.md-title {
                            width: 70%;
                            text-align: right;
                            margin-right: 16px;
                            margin-left: auto;
                        }
                    }
                    &:nth-child(4) {
                        h2.md-title {
                            margin: 0 6px 10%;
                        }
                    }
                    img.guide {
                        width: 100%;
                        padding-top: 45px;
                    }
                    button.button-next {
                        color: $color-white;
                        background-color: transparent;
                        border: 1px solid $color-white;
                        border-radius: 4px;
                        padding: 5px 10px;
                        position: absolute;
                        right: 15px;
                        bottom: 15px;
                    }
                }
            }
            .slider-pager {
                .slider-pager-page {
                    &:not(.active) {
                        i.icon:before {
                            content: "\f401";
                        }
                    }
                    &.active {
                        color: #B8B8B8;
                    }
                }
            }
        }
    }
}

.platform-ios.platform-cordova:not(.fullscreen) .tutorial-dialog {
    .slider-slides {
        padding-top: 20px;
    }
}
