#mode {
    .md-dialog-container {
        align-items: flex-start;
        md-dialog.gateway-status-dialog {
            width: 100%;
            top: 39px;
            background: transparent;
            box-shadow: none;
            overflow: hidden;
            &:before {
                content: '';
                width: 2px;
                position: absolute;
                height: 95%;
                left: 27px;
                background-color: #DEDEDE;
            }
            .gateway-alarm-status-div {
                color: $color-text-desc;
                height: 130px;
                margin: 25px 0;
                padding: 0;
                background-color: $color-white;
                z-index: 1;
                border-radius: 2px;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
                .status-title {
                    margin-top: 20px;
                    text-align: center;
                    color: $color-text-desc;
                }
                .wrapper-input-radio {
                    img {
                        vertical-align: middle;
                    }
                    span {
                        font-size: 11px;
                        margin-left: 5px;
                    }
                }
            }
            .button {
                background-color: $color-white;
                border: none;
                margin-bottom: 10px;
                width: 100%;
                color: $color-text-desc;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
                &[disabled] {
                    opacity: 1;
                    color: $color-text-desc !important;
                    background-color: $color-border !important;
                }
                ion-spinner {
                    position: absolute;
                    top: 10px;
                    right: 15px;
                }
            }
        }
    }
}

.platform-ios.platform-cordova:not(.fullscreen) #mode {
    .md-dialog-container {
        align-items: flex-start;
        md-dialog.gateway-status-dialog {
            top: 59px;
        }
    }
}

.blur-filter {
    -webkit-filter: blur(2px);
}
