.ifttt_navbar {
    background-color: $ifttt-bg-light-blue;
    color:#fff;
    i {
        color:#fff;
    }
}
.ifttt_applets {
    .img_sect {
        background: -webkit-linear-gradient($ifttt-bg-light-blue, $ifttt-bg-light-blue, $ifttt-bg-dark-blue); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient($ifttt-bg-light-blue, $ifttt-bg-light-blue, $ifttt-bg-dark-blue); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient($ifttt-bg-light-blue, $ifttt-bg-light-blue, $ifttt-bg-dark-blue); /* For Firefox 3.6 to 15 */
        background: linear-gradient($ifttt-bg-light-blue, $ifttt-bg-light-blue, $ifttt-bg-dark-blue);/* Standard syntax (must be last) */
        margin-bottom: 10px;
        img {
            width: 60%;
            margin-top: 10px;
            margin-left: 19%;
            margin-bottom: 10px;
        }
    }
    .desc {
        text-align: center;
        .logo {
            margin-bottom: 17px;
        }
        h3 {
            font-size: 17px;
            margin-top: 17px;
            margin-bottom: 17px;
        }
        img {
            width:40%;
        }
    }
}
.btn_footer {
    text-align: center;
    margin-bottom: 15px;
    margin-top: auto;
    button {
        padding: 0 20px;
    }
}