.page-devices {
    ion-content {
        margin-bottom: 49px;
        &.has-tabs-top {
            top: 83px;
        }

        ion-spinner {
            padding-top: 20px;
        }
        
        .list {
            .item {
                &.warning {
                    background-color: rgba(255, 225, 225, 0.5);
                }
                padding: 10px 16px;
                .device-icon-left {
                    width: 20px;
                    margin-right: 15px;
                }
                h2 {
                    margin: 0;
                    text-align: left;
                }
                p {
                    font-size: 12px;
                    color: $color-text-error;
                }
                .device-icon-right {
                    width: 82px;
                    height: 40px;
                    color: $color-basic-green;
                    .centered {
                        white-space: normal !important;
                        text-align: center;
                    }
                    img {
                        height: 40px;
                        vertical-align: middle;
                    }
                    span {
                        color: $color-basic-green !important;
                        span.nested_txt {
                            color: $color-basic-green;
                            font-size: 16px;
                        }
                    }
                    button {
                        width: 50px;
                        height: 30px;
                        border-radius: 5px;
                        font-size: 18px;
                    }
                    .toggle {
                        margin: 0;
                        padding: 0;
                        .handle {
                            top: 2px;
                            transform: translate3d(-5px, 0, 0);
                        }
                        .track.warning {
                            background-color: $color-text-error;
                            border-color: $color-text-error;
                        }
                        .track.green {
                            background-color: $color-basic-green;
                            border-color: $color-basic-green;
                        }
                        input:checked + .track .handle {
                            transform: translate3d(15px, 0, 0);
                        }
                    }
                    .deviceTemp {
                        color: $color-text-desc;
                        font-size: 16px;
                        span {
                            font-size: 25px;
                            color: $color-basic-green;
                            margin: -2px 3px;
                            float: right;
                        }
                    }
                    .multi_line {
                        span.val {
                            display: flex;
                            span.icon_column {
                                margin-left:auto;
                                margin-right:0;
                            }
                            span.humidity-icon {
                                background: url("../assets/images/device-icons/humidity.svg");
                                display: inline-block;
                                width: 13px;
                                height: 13px;
                                margin-top: 2px;
                                -webkit-background-size: 100%;
                                background-size: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.page-add-new-devices {
    .top-wrapper {
        padding: 44px 10px 10px;
        .logo {
            max-width: 32%;
            display: block;
            margin: auto;
        }
    }
    .bottom-wrapper {
        height: 25%;
        color: $color-white;
        background: $color-text-desc url("../assets/images/settings/other-devices.png");
        background-size: cover;
    }
}

.page-add-other-devices {
    ion-content {
        .list {
            .item.item-icon-right {
                color: $color-text-desc;
                i.icon.ion-ios-arrow-right {
                    color: #979797 !important;
                }
            }
        }
    }
}


.custom-garage-door-toggle {
    input:checked + .track:after, .track:after {
        content: 'CLOSED';
        color: #fff;
        position: absolute;
        top: 10px;
        left: 12px;
        font-size: 9px;

    }
    .track:after {
        content: 'OPENED';
        left: inherit;
        right: 10px;

    }
    .handle:after, input:checked + .handle:after {
        width: 30px;
        content: '';
        position: absolute;
        top: 1px;
        left: 0;
        background: url(../assets/images/device-icons/garage-door-open.svg) no-repeat center top;
        height: 30px;
        background-size: 21px;
    }
    input:checked + .track {
        .handle:after {
            background: url(../assets/images/device-icons/garage-door-closed.svg) no-repeat center top;
            background-size: 21px;
        }
    }
}




.custom-switch-toggle {
    input:checked + .track:after, .track:after {
        content: 'ON';
        color: #fff;
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 9px;

    }
    .track:after {
        content: 'OFF';
        left: inherit;
        right: 20px;

    }
    .handle:after, input:checked + .handle:after {
        width: 30px;
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        background: url(../assets/images/device-icons/switch-off.svg) no-repeat center top;
        height: 30px;
        background-size: 19px;
    }
    input:checked + .track {
        .handle:after {
            background: url(../assets/images/device-icons/switch-on.svg) no-repeat center top;
            background-size: 19px;
        }
    }
}


.custom-light-toggle {
    input:checked + .track:after, .track:after {
        content: 'ON';
        color: #fff;
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 9px;

    }
    .track:after {
        content: 'OFF';
        left: inherit;
        right: 20px;

    }
    .handle:after, input:checked + .handle:after {
        width: 30px;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: url(../assets/images/device-icons/bulb-off.svg) no-repeat center top;
        height: 30px;
        background-size: 26px;
    }
    input:checked + .track {
        .handle:after {
            background: url(../assets/images/device-icons/bulb-on.svg) no-repeat center top;
            background-size: 26px;
        }
    }
}


.custom-lock-toggle {
    input:checked + .track:after, .track:after {
        content: 'LOCKED';
        color: #fff;
        position: absolute;
        top: 10px;
        left: 12px;
        font-size: 9px;
    }
    .track:after {
        content: 'UNLOCKED';
        left: inherit;
        right: 5px;

    }

    .handle:after, input:checked + .handle:after {
        width: 30px;
        content: '';
        position: absolute;
        top: 7px;
        left: 1px;
        background: url(../assets/images/device-icons/unlock-img.png) no-repeat center top;
        height: 30px;
        background-size: 12px;
    }
    input:checked + .track {
        .handle:after {
            background: url(../assets/images/device-icons/lock-img.png) no-repeat center top;
            background-size: 12px;
        }
    }
}

.custom-lock-toggle, .custom-light-toggle, .custom-garage-door-toggle, .custom-switch-toggle {
    .track {
        width: 85px;
        background-color: #2c2e2f !important;
        border-color: #2c2e2f !important;
    }
    .handle {
        width: 31px;
        height: 31px;
        left: -5px;
        top: -2px !important;
        position: relative;
    }
    input:checked + .track{
         .handle {
            right: -42px;
            left: inherit;
            -webkit-transform: translate3d(14px,0,0) !important;
            -moz-transform: translate3d(14px,0,0) !important;
            transform: translate3d(14px,0,0) !important;
        }
    }
    input:checked + .track {
        background-color: #2c2e2f !important;
        border-color: #2c2e2f !important;

    }

}
