.page-setup-choose {
    ion-nav-bar {
        position: absolute;
        .back-button {
            color: $color-white;
        }
    }
    .page-bg {
        background: $color-basic-blue;
        position: absolute;
        height: 60%;
    }
    .page-content {
        text-align: center;
        z-index: 2;
        .choose-title, .choose-desc {
            color: $color-white;
        }
        .choose-title {
            font-size: 30px;
            span {
                font-weight: 800;
            }
        }
        .choose-image {
            width: 100%;
            margin: 20px 0;
            max-width: 43px;
        }
        .gateway-desc {
            color: $color-text-desc;
        }
        .md-subhead{
            font-size: 18px;
        }
    }
}
