.page-timeline {
    ion-content {
        margin-bottom: 46px;
        &.has-tabs-top {
            top: 83px;
        }
        .list {
            margin-bottom: 0;
            .item {
                padding: 16px 0;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 36px;
                    height: 100%;
                    border-left: 1px solid $color-border;
                    z-index: -1;
                }
                &.item-file {
                    max-height: 285px;
                }
                &.plan-upgrade {
                    background-color: $color-basic-grey;
                    &.blue {
                        background-color: $color-basic-blue;
                    }
                    &.green {
                        background-color: $color-basic-green;
                    }
                    &:before {
                        border: none;
                    }
                    .icon {
                        top: 25px;
                        img {
                            width: 37px;
                            margin: 0;
                        }
                    }
                    h2, p {
                        color: #fff;
                    }
                    h2 {
                        font-weight: bold;
                    }
                    p {
                        font-size: 12px;
                        white-space: initial;
                        padding-right: 10px;
                    }
                }
                > .icon {
                    position: absolute;
                    top: 16px;
                    left: 16px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 1px solid $color-border;
                    background: $color-white;
                    overflow: hidden;
                    img {
                        width: 24px;
                        height: 24px;
                        margin: 7px 7px;
                    }
                    .fill-img {
                        width: 100%;
                        height: 100%;
                        margin: 0;
                    }
                    span {
                        height: 40px;
                        width: 40px;
                        display: block;
                        background-size: cover;
                        background-position: 50%;
                    }
                }
                h2, p {
                    padding-left: 72px;
                }
                videogular, .slide, .screenshot, .not-found {
                    margin-top: 16px;
                }

                .nest-bar {
                    background: #4eaed9;
                    height: 30px;
                    width: 100%;
                    position: relative;
                    overflow: hidden;
                    .event-sect {
                        padding-top: 3px;
                        margin-left: 5px;
                        .nest-motion-event, .nest-sound-event, .nest-person-event {
                            /*position: absolute;*/
                            margin-left: 3px;
                            margin-top: 5px;
                            display: inline;
                            i, span {
                                color: white;
                                margin-right: 5px;
                                font-weight: 500;
                            }
                            i {
                                font-size: 10px;
                            }
                            span {
                                font-size: 9px;
                            }
                            img {
                                width: 10px;
                                top: 1px;
                                margin-right: 5px;
                                position: relative;
                            }
                        }
                    }
                    .jump-to-nest {
                        position: absolute;
                        right: 8px;
                        top: 0;
                        padding-top: 5px;
                        color: white;
                        font-size: 9px;
                        padding-left: 3px;
                        border-left: 1px solid #b2e5f7;
                        text-decoration: none;
                        font-weight: 500;
                        img {
                            width: 20px;
                            margin-right: 4px;
                        }
                        span {
                            position: relative;
                            top: -7px;
                        }
                    }
                }
                .screenshot {
                    width: 100%;
                    height: 180px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 50%;
                    img {
                        width: 100%;
                    }
                    &.type-2 {
                        height: 100px;
                    }
                    .icon {
                        position: absolute;
                        top: 125px;
                        left: 50%;
                        margin: 0 0 0 -45px;
                        color: $color-white;
                        font-size: 64px;
                        padding: 10px 0 10px 5px;
                        width: 90px;
                        height: 90px;
                        text-align: center;
                        border: 5px solid $color-white;
                        border-radius: 90px;
                        cursor: pointer;
                    }
                }
                .not-found {
                    padding: 0 72px;
                }
                .not-found > div {
                    padding: 10px;
                    white-space: normal;
                    background-color: $color-grey-light;
                    //height: 180px;
                    border: 1px solid $color-border;
                    //border-bottom: 1px solid $color-border;
                    text-align: center;
                    //line-height: 180px;
                }
                .slide {
                    img {
                        width: 33%;
                    }
                }
            }
        }
    }
    .monitoring-upgrade, .monitoring-enabled {
        position: absolute;
        width: 100%;
        bottom: -20px;
        z-index: 2;
        color: #fff;
        transition: 0.4s ease-out;
        &.active {
            bottom: 49px;
        }
        img {
            float: left;
            height: 20px;
            margin: 0px 5px 0 0;
        }
    }
    .monitoring-upgrade {
        background-color: $color-basic-grey;
        p {
            margin: 0;
            text-align: center;
            font-size: 12px;
        }
    }
    .monitoring-enabled {
        background-color: $color-basic-orange;
        p {
            font-weight: bold;
            margin: 0;
            text-align: center;
            font-size: 10px;
        }
    }


}

.platform-ios.platform-cordova:not(.fullscreen) .page-timeline,
.platform-ios.platform-cordova:not(.fullscreen) .page-cameras,
.platform-ios.platform-cordova:not(.fullscreen) .page-devices {
    .has-tabs-top {
        top: 103px;
    }
}
