.page-setup-profile {
    .page-bg {
        background: url("../assets/images/login/bitmap.png") no-repeat 50% 100%;
        background-size: cover;
        height: 138.889px
    }
    .page-content {
        width: 100%;
        margin: 0 !important;
        max-width: 460px;
        form {
            .md-body-2 {
                margin-bottom: 5px;
                display: block;
                font-weight: 400;
            }
        }
        input {
            text-transform: capitalize;
        }
        .list {
            span:nth-child(3) {
                display: block;
                margin-top: 30px;
            }
            .item {
                border-top: none;
                border-left: none;
                border-right: none;
                margin-bottom: 1px;
                border-radius: 0;
                padding-left: 2px;
                md-autocomplete {
                    background: transparent;
                    min-width: 100%;
                    md-autocomplete-wrap {
                        box-shadow: none;
                        input {
                            padding-left: 0;
                        }
                        button {
                            display: none;
                        }
                    }
                }
                &.state {
                    border-right: 1px solid #ddd;
                    margin-right: 1px;
                    //input {
                    //    border-right: 1px solid #ddd;
                    //    text-indent: 16px;
                    //    &::-webkit-input-placeholder {
                    //        text-indent: 16px;
                    //    }
                    //}
                    + .item input {
                        padding-left: 16px;
                    }
                }
                md-autocomplete-wrap {
                    input {
                        //text-transform: capitalize;
                    }
                }
            }
        }
    }
}
