.page-quickactions {
    ion-tabs {
        .tab-nav.tabs {
            .tab-item {
                max-width: 50%;
            }
        }
        &.footer-tabs {
            .tab-item {
                color: #979898 !important;
            }
        }
    }
    ion-content {
        top: 83px;
        .list {
            padding-bottom: 50px;
        }
        .quick_action {
            .expand_qa {
                padding: 0 7px;
                margin-right: 5px;
                font-size: 20px;
                vertical-align: middle;
            }
            .quickaction-right-icon {
                margin-right: 7px;
                font-size: 30px;
                vertical-align: middle;
                color: $color-basic-blue;
                padding-left: 5px;
                padding-right: 5px;
            }
        }

       .quickaction-btn {
            border: none;
            background-color: $bg-quickactions-item;
            border-radius: 3px;
            color: $color-basic-blue;
        }
    }
}

.platform-ios.platform-cordova:not(.fullscreen) .tab-quickaction,
.platform-ios.platform-cordova:not(.fullscreen) .tab-automation {
    .has-tabs-top {
        top: 103px;
    }
}