.userpage-content {
    margin-top: 0;
    .top-section {
        padding: 50px 40px 5px;
        background: #f5f5f5;
        h2 {
            font-size: 16px;
        }
        p {
            font-size: 10px;
            padding: 0 10px;
        }
        .top-image-wrapper {
            text-align: center;
            img {
                max-width: 100%;
                margin: 15px auto;
            }
        }
    }
    .invite-email {
        padding: 15px 35px;
        img {
            max-width: 20%;
            padding: 5px 0;
        }
        p {
            margin-bottom: 25px;
            font-size: 80%;
        }
        .item {
            border-left: 0;
            border-right: 0;
        }
    }
    .add-user {
        height: 235px;
        /*.item {
            padding: 25px;
            padding-left: 54px;
        }*/
        .item-icon-left {
            h2 {
                display: inline-block;
                margin-bottom: 0;
            }
            h2.trunc_text {
                width: 70%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            span {
                color: $color-basic-mint;
                right: -60px;
                position: absolute;
                right: 10px;
                font-size: 14px;
                word-wrap: break-word;
            }
            div.icon {
                display: inline-block;
                img {
                    width: 35px;
                    padding-top: 15px;
                }
            }
            i {
                right: 10px;
                left: inherit;
            }
            .ion-checkmark-circled {
                right: inherit;
                left: 0;
                color: $color-basic-mint;
            }
        }

    }
}


