.page-cameras {
    ion-content {
        margin-bottom: 47px;
        &.has-tabs-top {
            top: 83px;
        }

        ion-spinner {
            padding-top: 20px;
        }

        .list {
            .item {
                margin-bottom: 5px;
                border: none;
                height: 210px;
                overflow: hidden;
                background-image: url(../assets/images/cameras/loading.gif);
                background-position: 50%;
                background-size: 70%;
                background-repeat: no-repeat;
                padding: 0;
                &.capture-bg {
                    background-image: url(../assets/images/cameras/loading.gif);
                }
                &:last-child {
                    margin: 0;
                }
                .screenshot {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                .item-camera-img {
                    width: 100%;
                    vertical-align: middle;
                }
                .item-camera-play {
                    height: 20%;
                    position: absolute;
                    margin: auto;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 5px;
                }
                .footer {
                    background-color: rgba(0, 0, 0, 0.3);
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 25px;
                    padding: 0 10px;
                    h2 {
                        color: $color-white;
                    }
                    img {
                        height: 12px;
                    }
                }
            }
        }
    }
}

.page-camera-details {
    ion-nav-bar {
        ion-header-bar {
            .buttons-right {
                button {
                    color: $color-text-error;
                    &.online {
                        color: $color-basic-green;
                    }
                }
            }
        }
    }
    ion-content {
        .stream {
            min-height: 190px;
            .item-camera-img, img {
                width: 100%;
                vertical-align: top;
            }
            .stream-live-mark {
                background-color: $color-basic-blue;
                color: $color-white;
                width: 60px;
                height: 25px;
                text-align: center;
                position: absolute;
                top: 10px;
                left: 10px;
                border-radius: 3px;
                line-height: 25px;
            }
        }
        .list {
            .request-wrapper {
                padding: 0 10px;
                p {
                    margin: 0;
                }
                .camera-request-btn {
                    width: 100px;
                    height: 30px;
                    min-height: 30px;
                    margin: 5px 0;
                    line-height: 1;
                    img {
                        width: 18px;
                    }
                    p {
                        font-size: 12px;
                        line-height: 29px;
                    }
                }
            }
            .camera_history_item {
                padding: 30px 54px 30px 150px;
                img {
                    left: 0;
                    top: 0;
                    border-radius: 0;
                    max-width: 120px;
                    max-height: 105px;
                }
                i {
                    color: $color-button-setup-devices-success;
                }
            }
        }
    }
}
