.page-settings {
    ion-content {
        .list {
            .item-avatar {
                padding: 40px 30px 16px 75px;
                min-height: 120px;
                img {
                    max-width: 60px;
                    max-height: 60px;
                    top: 30px;
                    left: 8px;
                }
                p {
                    font-size: 12px;
                }
            }
            .item.item-icon-left {
                padding-left: 70px;
                font-size: 14px;
                &.monitoring {
                    background-color: $color-basic-grey;
                    h2, p {
                        color: #fff;
                    }
                    h2 {
                        font-weight: bold;
                    }
                    p {
                        font-size: 12px;
                    }
                    .icon {
                        width: 30px;
                        height: 30px;
                        top: 20px;
                        left: 15px;
                    }
                }
                .icon {
                    width: 24px;
                    height: 24px;
                    top: 14px;
                    left: 23px;
                    img {
                        width: 100%;
                    }
                }
                .toggle {
                    position: absolute;
                    left: 10px;
                    top: 9px;
                }
            }
        }
    }
}
