.page-setup-gateway {
    > div {
        width: 100%;
    }
    .page-content {
        padding: 0 20px;
        .gateway-title, .gateway-desc, span {
            color: $color-text-desc;
        }
        .gateway-main-img {
            width: 50%;
        }
        .validation {
            .error {
                color: $color-text-error;
                margin-right: 12px;
                margin-left: 12px;
                margin-bottom: 15px;
                .title {
                    color: $color-text-error;
                    font-weight: bold;
                }
                .message {
                    color: $color-text-error;
                }
                a {
                    color: #40bbea;
                    text-decoration: none;
                }
            }
            .success {
                color: $color-basic-green;
            }
        }
        .input-wrapper {
            width: 100%;
            .md-body-2 {
                //font-size: 13px;
            }
            .item.item-input {
                padding-left: 0;
                border-left: none;
                border-right: none;
            }
        }
    }
}

.page-setup-gateway-step-2 {
    @extend .page-setup-gateway;
    .page-content {
        img {
            //margin-left: 16.5px;
            width: 80%;
            text-align: center;
        }
    }
}

.page-setup-gateway-step-3 {
    @extend .page-setup-gateway;
    .page-content {
        .md-body-2{
            text-align: center;
            &.red{
                color: darkred;
            }
        }
        .gateway-title {
            //position: absolute;
            left: 0;
            padding: 0 35px;
            text-align: center;
        }
        img {
            width: 70%;
        }
    }
    .page-footer {
        button {
            color: $color-basic-blue !important;
        }
    }
}

.page-setup-gateway-step-4 {
    @extend .page-setup-gateway;
    .page-content {
        img {
            width: 50%;
            margin-bottom: 20px;
        }
        .saccess {
            color: $color-basic-green;
            white-space: nowrap;
            font-size: 18px;
        }
        .md-subhead {
            color: $color-text-desc;
            font-size: 18px;
            //white-space: nowrap;
        }
    }
}
