.page-login {
    ion-nav-bar{
        position: absolute;
        left: 0;
        ion-header-bar{
            width: 100px;
        }
        .back-button {
            color: $color-white;
        }
    }
    .login-content {
        .logo-bg {
            background: url("../assets/images/login/logo-bg.png") no-repeat;
            background-size: cover;
            background-position: 50% 100%;
            .logo {
                width: 100px;
                padding: 30px 0;
            }
        }
        form {
            .start-message {
                font-size: 18px;
                margin: 6px 0 14px 0;
                color: $color-text-desc;
                line-height: 1.2;
            }
            .signin-forgot {
                display: block;
                font-size: 14px;
                color: $color-text-desc;
                margin: auto;
                min-height: 20px;
                line-height: 14px;
                padding: 4px 0 0 0;
            }
        }
    }
    .login-footer {
        &.bg-and-border-top {
            background-color: $color-grey-light;
            border-top: 1px solid $color-border;
        }
        p {
            color: $color-basic-grey;
            margin: 0 0 5px;
        }
        button {
            font-size: 16px;
            text-align: center;
            margin: auto;
        }
    }
}
