.page-welcome {
    .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 44px;
        .slide-block {
            height: 100%;
            padding: 75px 25px;
            .image {
                width: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 50%;
            }
            .title {
                text-align: center;
                font-size: 22px;
                line-height: 30px;
                margin: 50px 0 0;
                color: $color-basic-dark;
            }
        }
        .slider-pager {
            .slider-pager-page {
                width: 10px;
                height: 10px;
                border: 1px solid $color-basic-grey;
                border-radius: 10px;
                i{
                    display: none;
                }
                &.active {
                    background: $color-basic-grey;
                }
            }
        }
    }
    .bar-footer{
        margin: 15px 0;
        padding: 0 20px;
        .color-mint{
            right: 20px!important;
        }
    }
}
