.page-setup-devices {
    .page-content {
        text-align: center;
        input {
            text-transform: capitalize;
        }
        .wrapper-top {
            width: 100%;
            border-bottom: 1px solid $color-border;
            padding: 0 10px;
            .devices-title {
                color: $color-text-desc;
            }
        }
        .wrapper-bottom {
            width: 100%;
            padding: 10px 10px 0 10px;
            .md-subhead {
                color: $color-text-desc;
            }
            button {
                &:before {
                    content: '';
                    background: url("../assets/images/device-icons/question-mark.png");
                    background-size: 100% 100%;
                    width: 27px;
                    height: 27px;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
            }
        }
        button.success {
            background: $bg-button-setup-devices-success;
            color: $color-button-setup-devices-success !important;
            &:before {
                content: '';
                background: url("../assets/images/device-icons/check-mark.png");
                background-size: 100% 100%;
                width: 27px;
                height: 27px;
                position: absolute;
                top: 10px;
                left: 10px;
            }
        }
    }
}

.page-setup-devices-door-window-sensor {
    .page-content {
        text-align: center;
        margin-top: 44px;
        .wide-angle-back {
            width: 35%;
            margin-right: 13%;
        }
        input {
            text-transform: capitalize;
        }
        .devices-title-wrapper {
            width: 100%;
            .devices-title {
                color: $color-basic-blue;
                margin: 0 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid $color-border;
            }
            img {
                height: 60px;
                &.pull-tab {
                    height: 120px;
                }
                &.sensor {
                    height: 200px;
                }
                &.howto{
                    height: 150px;
                }
            }
        }
        .md-body-2 {
            color: $color-text-desc;
            padding: 15px 20px;
            margin: 0;
        }
        > button {
            box-shadow: 0 0 3px $color-border;
            color: $color-basic-blue !important;
            text-align: left;
            height: 64px;
            img {
                width: 40px;
                position: absolute;
                right: 12px;
                top: 10px;
            }
            &.activated {
                border-color: $color-basic-blue !important;
            }
            &.active {
                background-color: #fafafa;
                border-color: $color-basic-blue !important;
            }
        }
    }
    .page-content {
        text-align: center;
        .add-devices-logo {
            margin: 20px 0 40px;
            width: 50%;
        }
        .input-wrapper {
            text-align: left;
            .md-body-2 {
                padding: 0;
                color: $color-text-desc;
            }
            .item.item-input {
                border-right: none;
                border-left: none;
                padding-left: 0;
                .input-label {
                    color: $color-input-label;
                }
                input {
                    color: $color-text-desc;
                    font-size: 16px;
                }
            }
        }
    }
}

.page-setup-devices-setup-motion-camera {
    @extend .page-setup-devices-door-window-sensor;
    .img-wrapper {
        img {
            width: 150px;
        }
    }
    .devices-title-wrapper {
        img.search {
            height: 130px !important;
            margin: 50px 0 30px;
        }
    }
    .devices-title.md-title {
        color: $color-basic-blue;
    }
    .snap-img {
        width: 75px;
        padding: 20px 0 30px;
    }
    ion-spinner[icon="ios"] {
        svg {
            width: 50px;
            height: 50px;
        }
    }
}

.page-setup-devices-streaming-camera {
    @extend .page-setup-devices-door-window-sensor;
    .devices-title-wrapper {
        img {
            width: 150px !important;
            height: auto !important;
            &.search {
                width: 200px !important;
                margin: 40px 0 30px;
            }
        }
        &.padding {
            border-bottom: 1px solid $color-border;
        }
    }

    .buttons-wrapper {
        background-color: $color-grey-light;
        width: 100%;
        > button {
            box-shadow: 0 0 3px $color-border;
            color: $color-basic-blue !important;
            text-align: left;
            height: 64px;
            img {
                width: 24px;
                position: absolute;
                right: 20px;
                top: 20px;
            }
            &.activated {
                border-color: $color-basic-blue !important;
            }
        }
    }

    .list-wrapper {
        width: 100%;
        .list {
            label.item.item-radio {
                border-right: none;
                border-left: none;
                i {
                    padding: 11px 0;
                }
                .item-content {
                    padding-right: 16px;
                }
                input:checked ~ .item-content, i {
                    background: transparent;
                    color: $color-basic-green;
                }
                .radio-icon {
                    left: 0;
                    right: auto;
                }
                img {
                    width: 16px !important;
                    position: absolute;
                    z-index: 3;
                    right: 10px;
                    top: 0;
                    margin: 20px 0;
                }
            }
        }
    }
}

//
//.page-setup-devices-add-streaming-camera-5 {
//    @extend .page-setup-devices-add-streaming-camera;
//    .page-content {
//        .devices-title-wrapper {
//            padding: 0 10px;
//        }

//    }
//}
//
//.page-setup-devices-add-streaming-camera-6 {
//    @extend .page-setup-devices-add-streaming-camera;
//    .page-content {
//        .devices-title-wrapper {
//            .md-body-2 {
//                padding: 15px 20px 5px;
//            }
//        }
//        .input-wrapper {
//            width: 100%;
//            .item.item-input {
//                border-left: none;
//                border-right: none;
//                padding-left: 0;
//            }
//        }
//    }
//}
//
//.page-setup-devices-add-streaming-camera-7 {
//    @extend .page-setup-devices-add-streaming-camera-6;
//    .page-content {
//        .devices-title-wrapper {
//            .md-body-2 {
//                padding: 15px 20px 15px;
//            }
//        }
//    }
//}
//
//.page-setup-devices-add-streaming-camera-8 {
//    @extend .page-setup-devices-add-motion-camera-4;
//}
