.page-alerts {
    &.has-tabs-top {
        top: 83px;
    }
    ion-tabs {
        .tab-nav.tabs {
            .tab-item {
                max-width: 50%;
            }
        }
        &.footer-tabs {
            .tab-item {
                color: #979898 !important;
            }
        }
    }
    .scroll {
        .list {
            .item {
                &.item-icon-left {
                    padding: 18px 16px 16px 72px;
                }
                .icon:first-child {
                    position: absolute;
                    top: 16px;
                    left: 16px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 1px solid $color-border;
                    img {
                        width: 24px;
                        margin: 7px;
                    }
                }
                h2 {
                    font-size: 14px;
                }
                p {
                    font-size: 12px;
                }
                i {
                    right: 11px;
                    left: auto !important;
                }
            }
            &.pending-alarms {
                .item {
                    .icon:first-child {
                        border: 1px solid #ff0000;
                    }
                    &.item-icon-left {
                        h2 {
                            font-weight: bold;
                            color: #ff0000;
                        }
                    }
                }
            }
        }
    }
}

.platform-ios.platform-cordova:not(.fullscreen) .page-alerts ion-tabs {
    .tabs-top .tabs {
        top: 64px !important;
    }
}

.platform-ios.platform-cordova:not(.fullscreen) .page-alerts {
    ion-content.has-tabs-top {
        top: 103px;
    }
}

.page-alert-details {
    ion-content {
        &.has-footer {
            bottom: 55px;
        }
        &.has-footer-and-msg-box {
            bottom: 115px;
        }
        .what-happened {
            background-color: #BCBCBC;
            padding: 15px;
            color: $color-white;
            p {
                margin: 0;
            }
        }
        .slider-slides {
            //width: 100% !important;
            height: 180px;
            img {
                width: 100%;
            }
            .stream-live-mark {
                background-color: $color-basic-blue;
                color: $color-white;
                width: 60px;
                height: 25px;
                text-align: center;
                position: absolute;
                top: 10px;
                left: 10px;
                border-radius: 3px;
                line-height: 25px;
            }
        }
        .list {
            .item.item-icon-right {
                text-align: right;
                padding: 18px 72px 16px 16px;
                &.red {
                    background-color: rgba(255, 225, 225, 0.5);
                }
                h2 {
                    font-size: 14px;
                }
                h1 {
                    font-size: 18px;
                    margin: 10px 0 5px;
                    color: $color-basic-grey
                }
                p {
                    font-size: 12px;
                }
                > .icon {
                    position: absolute;
                    top: 16px;
                    right: 16px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 1px solid $color-border;
                    background-color: $color-white;
                    overflow: hidden;
                    img {
                        width: 24px;
                        margin: 7px;
                        &.loading {
                            width: 38px;
                            margin: 0;
                        }
                    }
                    span {
                        height: 40px;
                        width: 40px;
                        display: block;
                        background-size: cover;
                        background-position: 50%;
                    }
                }
                videogular, .slide, .screenshot, .not-found {
                    margin-top: 16px;
                }

                .hide-in-alarms {
                    display: none;
                }
                .nest-bar {
                    background: #4eaed9;
                    height: 30px;
                    width: 100%;
                    position: relative;
                    overflow: hidden;
                    .event-sect {
                        padding-top: 3px;
                        margin-left: 5px;
                        position: absolute;
                        .nest-motion-event, .nest-sound-event, .nest-person-event {
                            margin-left: 3px;
                            margin-top: 5px;
                            display: inline;
                            i, span {
                                color: white;
                                margin-right: 5px;
                                font-weight: 500;
                            }
                            i {
                                font-size: 10px;
                            }
                            span {
                                font-size: 9px;
                            }
                            img {
                                width: 10px;
                                top: 1px;
                                margin-right: 5px;
                                position: relative;
                            }
                        }
                    }
                    .jump-to-nest {
                        position: absolute;
                        right: 8px;
                        top: 0;
                        padding-top: 5px;
                        color: white;
                        font-size: 9px;
                        padding-left: 3px;
                        border-left: 1px solid #b2e5f7;
                        text-decoration: none;
                        font-weight: 500;
                        img {
                            width: 20px;
                            margin-right: 4px;
                        }
                        span {
                            position: relative;
                            top: -7px;
                        }
                    }
                }
                .screenshot {
                    position: relative;
                    width: 100%;
                    height: 180px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 50%;
                    &.type-2 {
                        margin: 0;
                        height: 100%;
                        .slide {
                            flex-direction: column;
                        }
                    }
                    .icon {
                        position: absolute;
                        top: 50px;
                        left: 50%;
                        right: auto;
                        margin: 0 0 0 -45px;
                        color: $color-white;
                        font-size: 64px;
                        padding: 10px 0 10px 23px;
                        width: 90px;
                        height: 90px;
                        text-align: center;
                        border: 5px solid $color-white;
                        border-radius: 90px;
                        cursor: pointer;
                    }

                }
                .not-found {
                    padding: 0;
                }
                .not-found > div {
                    padding: 10px;
                    white-space: normal;
                    background-color: $color-grey-light;
                    border: 1px solid $color-border;
                    text-align: center;
                }
                .slide {
                    img {
                        width: 100%;
                        border-radius: 2px;
                        margin-top: 8px;
                        &:first-child {
                            margin: 0;
                        }
                    }
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 35px;
                    height: 100%;
                    background: $color-border;
                    width: 1px;
                }
            }
        }
    }

    .alarm-message {
        position: absolute;
        bottom: 55px;
        height: 60px;
        background: #dff0f6;
        border-top: 1px solid #cccdce;
        border-bottom: 1px solid #cccdce;

        img {
            position: absolute;
            background: #42b1dd;
            padding: 7px;
            height: 60px;
            top: -1px;
        }
        .msg {
            margin-left: 65px;
            p {
                font-size: 10px;
                line-height: 12px;
                color: #6b6e6f;
                margin-top: 4px;
            }
            h3 {
                margin: 4px 1px 1px 1px;
                font-size: 13px;
                color: #68c0e3;
            }
        }
    }

    .bar-footer {
        background-color: $color-white;
        height: 55px;
        .button {
            height: 45px;
            line-height: 45px;
            font-size: 15px;
            font-weight: bold;
            width: 150px;
        }
    }
}
