.page-setup-subscription-intro {
    background-color: $color-basic-blue;
    ion-header-bar {
        button {
            i {
                color: #fff;
            }
        }
        .title {
            color: #fff;
        }
    }
    .wrapper {
        .md-subhead {
            color: #fff;
            padding: 10px 0 20px;
            margin: 0 15px;
            border-bottom: 1px solid #fff;
        }
        .description {
            padding: 15px 15px 15px;
            color: #fff;
            .layout-row {
                padding-top: 10px;
            }
            .scroll > div {
                padding: 5px 0;
            }
            h2 {
                color: #fff;
                margin: 0;
                font-size: 20px;
            }
            .image {
                width: 50px;
                margin: 0 15px 0 0;
                text-align: center;
                img {
                    height: 50px;
                }
            }
        }
    }
    .page-footer {
        background-color: #fff;
        //border-top: 2px solid $color-grey-light;
        box-shadow: 0 -1px 2px -1px rgba(0, 0, 0, 0.5);
        div {
            font-size: 18px;
            text-align: center;
        }
    }
}

.page-setup-subscription, .page-setup-monitoring {
    .header {
        text-align: center;
        img {
            width: 50px;
        }
        h2 {
            font-size: 22px;
            margin: 0;
            padding: 15px 0;
            span {
                font-weight: bold;
                color: $color-basic-blue;
            }
        }
        span.description {
            opacity: 0.4;
        }
    }
    .plans {
        width: 100%;
        .active {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 50px 50px 0 0;
            border-color: orange transparent transparent transparent;
            position: absolute;
            top: 0;
            left: 0;
            &:after {
                font-family: "Ionicons";
                content: "\f4b3";
                font-size: 24px;
                position: absolute;
                top: -46px;
                left: 4px;
                color: #fff;
            }
        }
        > div {
            background-color: grey;
            width: 100%;
            text-align: center;
            position: relative;
            cursor: pointer;
            .name {
                text-transform: uppercase;
                font-size: 20px;
                font-weight: bold;
            }
            .price {
                font-size: 17px;
                line-height: 17px;
                padding: 5px;
            }
            .description {
                font-size: 12px;
                line-height: 14px;
                color: $color-grey-light;
                //opacity: 0.4;
            }
            &:after {
                font-family: "Ionicons";
                content: "\f3d3";
                position: absolute;
                top: 50%;
                right: 15px;
                font-size: 24px;
                margin: -10px 0 0;
            }
            &:nth-child(1) {
                background-color: $color-border;
                .description {
                    color: $color-basic-grey;
                }
            }
            &:nth-child(2) {
                background-color: $color-basic-blue;
                color: #fff;
            }
            &:nth-child(3) {
                background-color: $color-basic-green;
                color: #fff;
            }
        }
    }
}

.page-update-subscription {
    .page-content {
        //padding-top: 44px;
        .top-image-wrapper {
            width: 100%;
            img {
                width: 140px;
            }
            p {
                color: $color-input-label;
                margin-top: 5px;
            }
        }
        .card {
            background: url('../assets/images/setup/card.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50%;
            border: none;
            box-shadow: none;
            width: 320px;
            height: 200px;
            margin: 0 0 10px 0;
            position: relative;
            .type {
                position: absolute;
                text-transform: uppercase;
                font-size: 25px;
                font-weight: bold;
                color: #fff;
                right: 35px;
                top: 30px;
            }
            .number {
                position: absolute;
                font-size: 20px;
                top: 90px;
                right: 35px;
                color: #fff;
            }
            .name {
                position: absolute;
                font-size: 16px;
                color: #fff;
                text-transform: uppercase;
                left: 34px;
                top: 150px;
            }
            .exp {
                position: absolute;
                font-size: 16px;
                color: #fff;
                text-transform: uppercase;
                left: 233px;
                top: 150px;
            }
        }
        .bottom-content-wrapper {
            width: 100%;
            background-color: $color-grey-light;
            border-top: 1px solid $color-border;
            form.list {
                md-input-container {
                    //font-size: 16px;
                    padding: 0;
                    color: $color-text-desc;
                    md-select-value {
                        padding-bottom: 5px;
                    }
                    label {
                        color: $color-text-desc;
                    }
                    input {
                        border-color: $color-border;
                        border-width: 0 0 1px 0;
                        padding-bottom: 3px;
                    }
                    .md-char-counter {
                        display: none;
                    }
                    &.md-input-focused {
                        color: $color-text-desc;
                        md-select-value {
                            border-width: 0 0 1px 0;
                            border-color: $color-border;
                        }
                    }
                }
                //span {
                //    padding-left: 16px;
                //    color: $color-text-desc;
                //    display: block;
                //}
                //.item.item-input {
                //    background: transparent;
                //    border-right: none;
                //    border-left: none;
                //    &:last-child {
                //        padding-left: 0;
                //        input {
                //            padding-left: 16px;
                //            border-left: 1px solid $color-border;
                //        }
                //    }
                //    select {
                //        width: 100%;
                //        border: none;
                //        background: transparent;
                //        font-size: 14px;
                //    }
                //}
                //.layout-row {
                //    .item {
                //        border-top: none;
                //    }
                //}
            }
            .info-payment {
                background-color: $color-basic-grey;
                width: 99%;
                border-radius: 5px;
                padding: 0 10px;
                color: $color-white;
                .wrapper {
                    width: 100%;
                    padding: 10px 0;
                    border-bottom: none !important;
                    .desc, .cost {
                        line-height: 16px;
                        p {
                            margin: 0;
                            text-transform: capitalize;
                        }
                        span {
                            padding: 0;
                            font-size: 8px;
                            text-transform: uppercase;
                        }
                    }
                    &:first-child {
                        border-bottom: 1px solid rgba($color-white, .7);
                    }
                }
            }
        }
    }
    .page-footer {
        background-color: $color-white;
        border-top: 1px solid $color-border;
        .md-caption {
            color: $color-basic-green;
            text-align: center;
        }
    }
}

.emergency-contact-page ion-content, .emergency-contact-page {
   /* ion-nav-bar {
        color: #525969;
    }*/
    .contactpage-content {
        margin-top: 0;
        .top-section {
            padding: 0 10px 5px;
        }
        .top-section-2 {
            padding: 60px 10px 5px;
        }
        .top-section, .top-section-2 {
            background: #f5f5f5;
            h2 {
                font-size: 16px;
                /*color: #525969;*/
                margin-bottom: 10px;
            }
            p {
                font-size: 10px;
                padding: 0 15px;
               /* line-height: 12px;
                font-weight: 500;
                color: #9B9B9B;*/
            }
            .top-image-wrapper {
                text-align: center;
                img {
                    max-width: 25%;
                    margin: 15px auto;
                }
            }
        }
        .manual-contact {
            padding: 15px 35px;
            img {
                max-width: 20%;
            }
            p {
                margin-bottom: 50px;
                font-size: 15px;
            }
            .item {
                border-left: 0;
                border-right: 0;
            }
        }
        .add-contact {
            height: 235px;
            .item-icon-left {
                h2 {
                    display: inline-block;
                }
                h2.trunc_text {
                    width: 160px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                span {
                    color: $color-basic-mint;
                    display: block;
                    font-size: 14px;
                }
                div.icon {
                    display: inline-block;
                    img {
                        width: 35px;
                        padding-top: 17px;
                    }
                }
                i {
                    right: 10px;
                    left: inherit;
                }
                .ion-checkmark-circled {
                    right: inherit;
                    left: 0;
                    color: $color-basic-mint;
                }
            }

        }
    }
}


.page-pin-subscription {
    p {
        text-align: left;
        width: 100%;
    }
    img {
        width: 30%;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
    .list {
        width: 100%;
        .item {
            padding: 10px 0;
            text-align: center;
            &.selector {
                width: 300px;
                max-width: none;
                margin: 0 auto;
                select {
                    width: 100%;
                    border: none;
                    background: transparent;
                    -webkit-appearance: none;
                }
                &:after{
                    content: "\f123";
                    position: absolute;
                    display: inline-block;
                    font-family: "Ionicons";
                    font-style: normal;
                    right: 10px;
                    z-index: -1;
                }
            }
            input {
                text-align: center;
                padding: 0!important;
            }
            &:not(.selector) {
                border-left: none;
                border-right: none;
            }
        }
        //md-switch.md-checked.md-primary {
        //    .md-bar, .md-thumb {
        //        background-color: $color-basic-green;
        //    }
        //}
        //.item-input {
        //    border-left: 0;
        //    border-right: 0;
        //    padding-left: 0;
        //    div, input {
        //        font-size: 16px;
        //    }
        //    div {
        //        padding: 5px 0;
        //    }
        //    .icon {
        //        position: absolute;
        //        top: 8px;
        //        right: 15px;
        //        z-index: 2;
        //        &:before {
        //            font-size: 24px;
        //        }
        //    }
        //}
        //.item-checkbox {
        //    border-left: 0;
        //    border-right: 0;
        //    margin: 0 5px;
        //    padding-left: 50px;
        //    .checkbox {
        //        padding-left: 0;
        //        left: 0;
        //    }
        //}
    }
    a{
        color: $color-basic-blue;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
    }
}

.page-order-complete {
    //background-color: $color-grey-light;
    .page-content {
        margin: 0 !important;
        .order-title {
            //color: $color-basic-grey;
            font-size: 22px;
            line-height: 22px;
            margin: 0;
        }
        h1 {
            font-size: 22px !important;
            line-height: 22px;
        }
        .order-success-img {
            height: 50px;
        }
        .order-success-text {
            color: $color-basic-green;
            margin: 0;
        }
        .md-caption {
            text-align: center;
            padding: 0 10px;
            margin: 0;
            color: $color-text-desc;
        }
        .info-payment {
            background-color: $color-basic-green;
            height: 47px;
            width: 99%;
            border-radius: 5px;
            padding: 8px 10px;
            color: $color-white;
            .desc, .cost {
                line-height: 16px;
                p {
                    margin: 0;
                }
                span {
                    padding: 0;
                    font-size: 8px;
                    text-transform: uppercase;
                }
            }
        }
        .card {
            background: url('../assets/images/setup/card.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50%;
            border: none;
            box-shadow: none;
            width: 320px;
            height: 200px;
            margin: 0;
            position: relative;
            .type {
                position: absolute;
                text-transform: uppercase;
                font-size: 25px;
                font-weight: bold;
                color: #fff;
                right: 35px;
                top: 30px;
            }
            .number {
                position: absolute;
                font-size: 20px;
                top: 90px;
                right: 35px;
                color: #fff;
            }
            .name {
                position: absolute;
                font-size: 16px;
                color: #fff;
                text-transform: uppercase;
                left: 34px;
                top: 150px;
            }
            .exp {
                position: absolute;
                font-size: 16px;
                color: #fff;
                text-transform: uppercase;
                left: 233px;
                top: 150px;
            }
        }
        .md-title {
            font-size: 18px;
            margin: 0;
        }
    }
    .page-footer {
        background-color: $color-grey-light;
        border-top: 1px solid #e7e7e7;
        text-align: center;
    }
}

.popup-container.plans {
    .popup {
        width: 100%;
        height: 100%;
        max-height: none;
        padding: 0;
        .popup-body {
            height: 100%;
            padding: 0;
            display: flex;
            flex-direction: column;
            flex: 1;
            .page-content {
                margin: 0;
                padding-top: 44px;
            }
            .page-footer {
                button {
                    margin: 0;
                }
            }
            .header {
                border-bottom: 1px solid #ccc;
                margin-bottom: 1px;
                display: block;
                .price {
                    font-size: 28px;
                    line-height: 28px;
                    font-weight: bold;
                    padding: 0 0 10px;
                }
                .description {
                    font-size: 12px;
                    color: $color-basic-blue;
                }
            }
            .wrapper {
                background-color: $color-grey-light;
                font-size: 16px;
                padding: 15px 20px;
                .title {
                    text-align: left;
                    padding: 10px 0;
                }
                .options {
                    .divider {
                        position: relative;
                        align-items: center;
                        align-content: center;
                        //background-color: #fff;
                        &:before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            background-color: $color-basic-grey;
                            top: 20px;
                        }
                        .text {
                            background-color: $color-grey-light;
                            z-index: 2;
                            flex: none;
                            padding: 0 20px;
                            text-align: center;
                            margin: 0 auto;
                        }
                    }
                    .element {
                        padding: 10px 0;
                    }
                    .image {
                        width: 20px;
                        margin: 0 20px 0 0;
                        img {
                            width: 100%;
                        }
                    }
                    .text {
                        text-align: left;
                    }
                }
            }
            .item-radio {
                display: inline-block;
                border: none;
                font-weight: 400;
                font-size: 14px;
                .item-content {
                    text-align: center;
                    text-transform: capitalize;
                    border: 1px solid $color-basic-grey;
                    outline: none;
                    width: 130px;
                    padding: 10px 15px;
                    color: $color-basic-dark;
                    background: transparent;
                    box-shadow: none;
                }
                .radio-icon {
                    display: none;
                }
                [aria-checked="true"] + .radio-content .item-content {
                    background-color: $color-basic-blue;
                    color: $color-white;
                }
            }
            ion-tabs {
                //position: relative;
                .tabs, .tab-content {
                    position: relative;
                }
                .tabs {
                    top: 0 !important;
                    border: none !important;
                    background-color: transparent !important;
                    margin-bottom: 10px;
                    .tab-item {
                        text-transform: capitalize;
                        border: 1px solid $color-basic-grey;
                        &:last-child {
                            border-left: none;
                        }
                        &:not(.tab-item-active) {
                            color: $color-basic-dark !important;
                        }
                    }
                }
                .tab-content {
                    height: 60px;
                }
            }
        }
    }
}

.page-setup-plan {
    .page-content {
        //margin: 0;
        //padding-top: 44px;
    }
    .page-footer {
        button {
            margin: 0;
        }
    }
    .header {
        text-align: center;
        border-bottom: 1px solid #ccc;
        margin-bottom: 1px;
        display: block;
        .price {
            font-size: 28px;
            line-height: 28px;
            font-weight: bold;
            padding: 0 0 10px;
        }
        .description {
            font-size: 12px;
            color: $color-basic-blue;
        }
    }
    .wrapper {
        background-color: $color-grey-light;
        font-size: 16px;
        padding: 15px 20px;
        .title {
            text-align: left;
            padding: 10px 0;
        }
        .options {
            .divider {
                position: relative;
                align-items: center;
                align-content: center;
                //background-color: #fff;
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: $color-basic-grey;
                    top: 20px;
                }
                .text {
                    background-color: $color-grey-light;
                    z-index: 2;
                    flex: none;
                    padding: 0 20px;
                    text-align: center;
                    margin: 0 auto;
                }
            }
            .element {
                padding: 10px 0;
            }
            .image {
                width: 20px;
                margin: 0 20px 0 0;
                img {
                    width: 100%;
                }
            }
            .text {
                text-align: left;
            }
        }
    }
    .item-radio {
        display: inline-block;
        border: none;
        font-weight: 400;
        font-size: 14px;
        .item-content {
            text-align: center;
            text-transform: capitalize;
            border: 1px solid $color-basic-grey;
            outline: none;
            width: 130px;
            padding: 10px 15px;
            color: $color-basic-dark;
            background: transparent;
            box-shadow: none;
        }
        .radio-icon {
            display: none;
        }
        :checked + .radio-content .item-content {
            background-color: $color-basic-blue;
            color: $color-white;
        }
        [aria-checked="true"] + .radio-content .item-content {
            background-color: $color-basic-blue;
            color: $color-white;
        }
    }
    ion-tabs {
        //position: relative;
        .tabs, .tab-content {
            position: relative;
        }
        .tabs {
            top: 0 !important;
            border: none !important;
            background-color: transparent !important;
            margin-bottom: 10px;
            .tab-item {
                text-transform: capitalize;
                border: 1px solid $color-basic-grey;
                &:last-child {
                    border-left: none;
                }
                &:not(.tab-item-active) {
                    color: $color-basic-dark !important;
                }
            }
        }
        .tab-content {
            height: 60px;
        }
    }
}


.page-about-service-plan {
    ion-content {
        height: calc(100% - 150px);
        .content-sect {
            text-align: center;
            h3 {
                font-size: 20px;
                font-weight: 400;
                margin: 30px 10px 15px 10px;
                span {
                    font-weight: 500;
                    color: $color-basic-mint;
                }
            }
            p {
                font-size: 12px;
                margin: 0 15px;
            }

        }

        .slider-sect {
            background-color: #F4F4F4;
            padding:8px 12px;
            border-top: 1px solid #c1c1c1;
            border-bottom: 1px solid #c1c1c1;
            .slider {
                background-color: #fff;
                border: 1px solid #c1c1c1;
                padding-bottom: 20px;
                .slider-pager {
                    bottom: 10px;
                }
                .slide-block {
                    padding: 12px 20px;
                    img {
                        width: 27%;
                    }
                    .title {
                        font-size: 16px;
                        font-weight: 400;
                        margin-top: 10px;
                    }
                    p {
                        text-align: center;
                        font-size: 12px;
                        margin:8px 3px;
                        line-height: 17px;
                    }
                }
            }
        }
        //margin: 0;
        //padding-top: 44px;
    }
    .page-footer {
        text-align: center;
        button.plan-exist {
            border-radius: 5px;
            padding: 0 20px;
        }
        button.plan-exist.activated {
            background-color: $color-basic-mint;
        }

        p {
            margin-top: 5px;
        }

        button.select-new-plan {
            font-weight: 600;
            font-size: 20px;
            max-width: 100%;
        }
    }
}


.page-add-coupon-code {
    background: url('../assets/images/setup/coupon-code/coupon_code_screen_background.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    ion-header-bar {
        background-color: #fff;
    }
    ion-content {
        .form-sec {
            text-align: center;
            margin: 30px 10px;
            color: white;
            p {
                font-size: 16px;
            }
            .style-input {
                border: none;
                border-bottom: 2px solid #fff;
                font-size: 25px;
                font-weight: 300;
                background: 0 0;
                line-height: 40px;
                -moz-border-radius: 0;
                border-radius: 0;
                text-align: center;
                margin-top: 25px;
                margin-bottom: 30px;
                color: #fff;
                width: 85%;
            }
            .style-input::-webkit-input-placeholder {
                color: #fff;
            }
            .btn-wide {
                border-radius: 5px;
                width: 80%;
                font-size: 22px;
                padding: 3px 5px;
                background-color: #2E6CB9;
                border: 1px solid #2E6CB9;
            }
            .err-link {
                display: inline-block;
                margin-top: 20px;
                text-decoration: underline;
                font-size: 16px;
            }

        }
    }
}


.page-coupon-code-success {
    ion-content {
        .content-sec {
            text-align: center;
            .img-sect {
                max-height: 530px;
                overflow: hidden;
                img {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
            h3 {
                color: #2E6CB9;
                font-size: 22px;
            }
            p {
                width: 81%;
                margin: 20px auto 35px;
                font-size: 12px;
                span {
                    color: $color-basic-mint;
                }
            }
        }
    }
    .btn-wide {
        border-radius: 5px;
        width: 80%;
        font-size: 22px;
        padding: 3px 5px;
        background-color: #2E6CB9;
        border: 1px solid #2E6CB9;
        margin-bottom: 10px;
    }
}


.page-pin-on-coupon {
    background-color: #3D4756;
    .bar-header {
        background-color: #FF5E4D;
        color: white;
        .button {
            color: white !important;
        }
    }
    ion-content {
        .top-sect {
            background-color: #FF5E4D;
            padding-top: 10px;
            overflow: hidden;
            img {
                width: 45%;
                float: left;
            }
            p {
                margin: 10px;
                color: #fff;
                font-size: 15px;
                line-height: 26px;
                margin-right: 12px;
                text-align: justify;
            }
        }
        .form-sect {
            background-color: #3D4756;
            text-align: center;
            .style-input {
                background-color: transparent;
                border-radius: 0;
                color: #fff;
                width: 45%;
                margin: 50px auto 10px;
                border-bottom: 1px solid #D0D0D0;
                text-align: center;
                font-size: 40px;
                letter-spacing: 10px;
                padding: 30px 0;
            }
            a {
                color: $color-basic-mint;
                text-decoration: none;
            }
        }
    }
    .page-footer .small {
        width: 60%;
        margin-bottom: 40px !important;
        border: 2px solid white;
        border-radius: 5px;
        color: white;
    }
}





.platform-ios.platform-cordova:not(.fullscreen) .popup-container.plans {
    .page-content {
        padding-top: 64px !important;
    }
    .tabs {
        top: 0 !important;
    }
}

.page-setup-monitoring {
    .monitoring-plans {
        width: 100%;
        border-top: 1px solid #ccc;
        background-color: $color-grey-light;
        h2 {
            padding: 10px 0 20px;
            margin: 0;
            font-size: 20px;
            text-align: center;
        }
        > div {
            background-color: transparent !important;
        }
        .item-radio {
            background: transparent;
            border: none;
            box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.5);
            margin: 10px 0;
            border-radius: 2px;
            .item-content {
                padding-left: 10px;
                padding-right: 10px;
                text-align: left;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 4px;
                    width: 100%;
                    background-color: $color-basic-blue;
                }
                div {
                    float: left;
                }
                span {
                    float: right;
                }
            }
            input:checked + .radio-content .item-content {
                background-color: $color-basic-blue;
                color: #fff;
            }
            .radio-icon {
                display: none;
            }
        }
        .divider {
            padding: 12px 0;
            position: relative;
            align-items: center;
            align-content: center;
            //background-color: #fff;
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: $color-basic-grey;
                top: 20px;
            }
            .text {
                background-color: $color-grey-light;
                z-index: 2;
                flex: none;
                padding: 0 20px;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
    .page-footer {
        div {
            text-align: center;
            color: $color-basic-green;
        }
    }
}

.layout-align-left-center {
    width: 100%;
    .md-input-has-value {
        width: 100%;
    }
}

.item-input input.invalid-pin {
    color: #cc3f44;
}
