.quickactions-button {
    border-radius: 3px;
    width: 80px;
    &.left {
        background-color: $color-text-error;
        color: $color-white;
    }
    img {
        height: 17px;
    }
    p {
        margin: 0;
        height: 17px;
        line-height: 19px;
    }
    span.badge {
        position: absolute;
        color: $color-white;

        background-color: $color-text-error;
        font-size: 10px;
        top: -4px;
        right: -4px;
        line-height: 18px;
        height: 17px;
        padding: 0 5.6px;
        margin: 0;
        &.left {
            background-color: $color-basic-grey;
        }
    }
}

ion-tabs.tabs-top {
    .tabs {
        top: 44px !important;
        background-color: $color-grey-light !important;
        border-top: 1px solid $color-border !important;
        border-bottom: 1px solid $color-border !important;
        height: 40px;
        line-height: 37px;
        background-size: 100% 0;
        box-shadow: none !important;
        .tab-item {
            max-width: 33.3%;
            color: $color-basic-blue !important;
            &:nth-child(4), &:nth-child(6) {
                border-right: 1px solid $color-border;
                border-left: 1px solid $color-border;
            }
        }

        .tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
            color: $color-white !important;
            background-color: $color-basic-blue;
        }
    }
}

.platform-ios.platform-cordova:not(.fullscreen) ion-tabs.tabs-top {
    .tabs {
        top: 64px !important;
    }
}

ion-tabs.tabs-bottom {
    .tab-nav.tabs {
        padding: 0;
        box-shadow: 0 -1px 8px 0 rgba(191, 191, 191, 0.8);
        background-color: $color-white;
        .tab-item {
            color: $color-basic-grey;
            &.tab-item-active, &.active, &.activated {
                color: $color-basic-blue;
            }
            .tab-quick-action-on {
                height: 65%;
                width: 12%;
                background: url('../assets/images/tabs-icons/quick-actions-selected-nav.png') no-repeat 50%;
                background-size: contain;
            }

            .tab-quick-action-off {
                height: 65%;
                width: 12%;
                background: url('../assets/images/tabs-icons/quick-actions-nav.png') no-repeat 50%;
                background-size: contain;
            }

            .tab-status-on {
                height: 65%;
                width: 25%;
                background: url('../assets/images/tabs-icons/status-selected-nav.png') no-repeat 50%;
                background-size: contain;
            }

            .tab-status-off {
                height: 65%;
                width: 25%;
                background: url('../assets/images/tabs-icons/status-nav.png') no-repeat 50%;
                background-size: contain;
            }

            .tab-settings-on {
                height: 65%;
                width: 20%;
                background: url('../assets/images/tabs-icons/settings-selected-nav.png') no-repeat 50%;
                background-size: contain;
            }

            .tab-settings-off {
                height: 65%;
                width: 20%;
                background: url('../assets/images/tabs-icons/settings-nav.png') no-repeat 50%;
                background-size: contain;
            }
        }
    }

}

.actions-button {
    position: absolute;
    width: 100%;
    //z-index: 100;
}

#fullscreen, #fullscreenDetail {
    md-dialog {
        max-width: 95%;
        max-height: 95%;
        min-width: 0;
        min-height: 0;
        //width: 20px;
        //height: 20px;
    }
    .full-image {
        background-size: cover;
        background-position: 50%;
        min-height: 250px;
    }
}
