$color-basic-dark: #333;
$color-basic-orange:#f5a623;
$color-basic-grey: #979898;
$color-basic-mint: #6ecade;
$color-basic-green: #4cdc6b;
$color-basic-blue: #6ecadf;
$color-white: #ffffff;
$color-grey-light: #f9f9f9;
$color-text-desc: #525969;
$color-text-error: #cc3f44;
$color-border: #ddd;
$bg-button-setup-devices-success: #F6F6F6;
$color-button-setup-devices-success: #CAC9CA;
$color-input-label: #aaa;
$color-quickactions-item: #45ABC1;
$bg-quickactions-item: #EBF8FB;
$ifttt-bg-light-blue: #33CCFF;
$ifttt-bg-dark-blue: #0F9ED1;

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli'), url(https://fonts.gstatic.com/s/muli/v7/zscZFkjVRGyfQ_Pw-5exXPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

//@font-face {
//    font-family: 'Muli Light';
//    font-style: normal;
//    font-weight: 300;
//    src: local('Muli Light'), local('Muli-Light'), url(https://fonts.gstatic.com/s/muli/v7/mls_29xz6YyJHsylG8hcCgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
//    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
//}

//@font-face {
//    font-family: 'Muli Light Italic';
//    font-style: italic;
//    font-weight: 400;
//    src: local('Muli Light Italic'), local('Muli-LightItalic'), url(https://fonts.gstatic.com/s/muli/v7/Q5N_zd0042xOVES9NXt9QpBw1xU1rKptJj_0jans920.woff2) format('woff2');
//    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
//}

.button-basic-green {
    background-color: $color-basic-green !important;
    color: $color-white !important;
    border: none !important;
}

.button-basic-blue {
    background-color: $color-basic-blue;
    color: $color-white !important;
    border: none !important;
}

.button-basic-red {
    background-color: $color-text-error;
    color: $color-white !important;
    border: none !important;
}

.button-basic-grey {
    background-color: $color-basic-grey;
    color: $color-white !important;
    border: none !important;
}


#page-add-coupon-code, #page-add-pin-code {
    .md-dialog-container {
        md-dialog {
            background-color: transparent;
            box-shadow:none;
            max-height: 100%;
            .popup-error {
                padding-top: 20px;
                padding-bottom: 10px;
                text-align: center;
                background-color: #fff;
                border-radius: 5px;
                img {
                    margin-top: 10px;
                    width: 30%;
                }
                h3 {
                    color: #E35757;
                    font-size: 16px;
                    margin-left: 25px;
                    margin-right: 25px;
                }
                p {
                    font-size: 10px;
                    margin: 30px;
                    width: inherit;
                    text-align: center;
                }
                button {
                    border: none;
                    border-top: 1px solid gray;
                    color: #316fb6;
                    padding-top: 15px;
                    font-size: 16px;
                    background: 0 0;
                    width: 100%;
                    padding-bottom: 10px;
                }
            }
            .support-link {
                text-align: center;
                color: white;
                margin-top: 28%;
                p {
                    text-align:center;
                }
                a {
                    text-decoration: underline;
                    font-size: 16px;
                    color: #fff;
                }
            }
        }
    }
}


.popup-container {
    .popup {
        background: $color-white;
        border-radius: 4px;
        padding: 10px;
        min-width: 300px;
    }
    .popup-head {
        display: none;
    }
    .popup-body {
        text-align: center;
    }
    h1.title {
        font-size: 24px;
    }
    .important {
        color: $color-basic-blue;
        font-size: 18px;
        padding: 5px 0 0;
    }
    .alarm {
        i {
            font-size: 45px;
            color: $color-text-error;
        }
    }
    .content {
        padding: 6px 0;
        font-size: 14px;
        color: $color-basic-dark;
        a {
            color: $color-basic-blue;
            text-decoration: none;
        }
    }
    .subcontent {
        background: $color-grey-light;
        //margin: 0 -10px;
        //padding: 10px 0;
        box-shadow: inset 0 1px 2px -1px $color-basic-grey;
        > div {
            padding: 10px 0;
        }
        &.warning {
            ul {
                list-style: square outside;
            }
            text-align: left;
            background-color: #FFFCDD;
            padding: 10px 25px;
        }
    }
    .popup-buttons {
        padding-top: 0;
        flex-direction: column;
        > button {
            margin: 3px 0;
            width: 100%;
            color: $color-basic-grey;
        }
        .button-clear.button-close {
            margin-bottom: -10px;
        }
    }
}

.md-body-2 {
    font-size: 16px;
}

.page-setup-profile .item.item-input,
.page-setup-gateway .item.item-input,
.page-setup-devices-door-window-sensor .item.item-input,
.page-setup-devices-setup-motion-camera .item.item-input,
.page-setup-devices-streaming-camera .item.item-input {
    border-top: none;
    padding-top: 4px;
    margin-bottom: 2px;
    input {
        font-size: 16px;
    }
}

.page-content {
    margin-top: 44px;
    max-width: 640px;
    //margin-left: auto;
    //margin-right: auto;
}

.platform-ios.platform-cordova:not(.fullscreen) .page-content {
    margin-top: 64px;
}

.page-footer {
    &.padding {
        //padding: 0;
        //margin: 10px;
    }
    button {
        max-width: 460px;
        text-align: center;
        margin: 0 auto 0;
    }
}

videogular, [videogular] {
    width: 100%;
    margin: auto;
    overflow: hidden;
    video {
        width: 100%;
    }
    vg-overlay-play {
        left: 0;
        .play:before, .play:before {
            color: $color-white;
        }
    }
}

.alarm-bar {
    font-size: 17px;
    text-align: center;
    padding: 10px 5px;
    background-color: $color-text-error;
    color: $color-white;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    position: absolute;
    top: 44px;
    width: 100%;
    z-index: 9;
    &.verify {
        background-color: orange;
    }
    + ion-tabs > ion-nav-view {
        margin: 40px 0 0;
        ion-content {
            margin-bottom: 40px;
        }
        ion-tabs ion-content {
            margin-bottom: 90px;
        }
    }
}

.platform-ios.platform-cordova:not(.fullscreen) .alarm-bar {
    top: 64px;
}

.back-button {
    .back-text {
        display: none !important;
    }
}

.highlight {
    animation: change-color 2s forwards;
}

@keyframes change-color {
    0% {
        background-color: #4CDC6C;
    }
    90% {
        background-color: #4CDC6C;
    }
    100% {
        background-color: $color-basic-mint;
    }
}

.loading-container {
    .loading {
        /*white-space: pre;*/
    }
}
