head
    meta(charset='utf-8')
    meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="Content-Security-Policy")
    title App
    <!-- build:css css/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp}) css/app.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="styles.css"/>
    <!-- endinject -->
    <!-- endbuild -->
