<!-- build:js vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js({app}) app.js -->
<!-- inject:js -->
<!-- endinject -->
<!-- inject:partials -->
<!-- endinject -->
<!-- endbuild -->
<script src="assets/socket.io-1.4.8.js"></script>
<!--<script src="assets/rollbar.js"></script>-->
<script src="cordova.js"></script>
<script src="assets/localforage-cordovasqlitedriver.js"></script>
