@import 'scss/variables';

body, html, button, label.item.item-input, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Avenir', sans-serif;
    color: $color-basic-dark;
    &.keyboard-opened {
        .page-footer.padding, .login-footer {
            display: none;
        }
    }
}


/*
    CSS styles to eliminate the annoying flickering header when changing tabs in an Ionic app on Android:
    http://forum.ionicframework.com/t/flickering-when-navigating-via-tabs-on-android/27281/2
*/
.platform-android .header-item.title {
    transition-duration: 0ms;
}
.platform-android .header-item.buttons {
    transition-duration: 0ms;
}


.cssSlideUp {
    transition: .2s linear all;
    height: 50px;
    overflow: hidden;
}
.cssSlideUp.ng-hide {
    height:0;
}

ion-view, ion-nav-bar {
    ion-nav-bar {
        .back-button {
            margin-left: 3px;
        }
    }
}

img.loading_img {
    align-self: center;
    width: 100%;
}
img.fullscreen_img {
    display:none;
    width: 100%;
}

.fullscreen-dialog {
    height: 100% !important;
    max-height: 100% !important;
    width: inherit;
    .fullscreen_icon {
        display: none;
    }
    .ionic-scroll {
        height: 100% !important;
        max-height: 100% !important;
        width: initial;
        .scroll {
            max-height: 100%;
            height: 100%;
            img {
                height: 100% !important;
            }
        }
    }
}

div.img-bottom-icons {
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    padding: 0 5px;
    border-radius: 6px;
    z-index: 99;

    i.img_download_icon {
        margin-right: 10px;
    }
}


i.close-img {
    color: white;
    position: absolute;
    top: 13px;
    right: 8px;
    font-size: 13px;
    border-radius: 18px;
    color: #000;
    background: #fff;
    padding: 4px 8px 2px;
    z-index: 9999;
}


.bar {
    background: transparent;
    border: none;
    .button {
        color: $color-basic-grey;
        min-height: 34px;
    }
}

.button.color-mint {
    color: $color-basic-mint;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 500;
    top: 0;
}
.password-div {
    position: absolute;
    background: linear-gradient(#e9e9e9, #d1e6eb);
    -moz-border-radius: 20px;
    border-radius: 20px;
    top: 30%;
    left: 50%;
    width: 280px;
    margin-left: -140px;
    z-index: 999;
    h1.title {
        font-size: 20px;
        font-weight: 500;
        margin: 30px 45px 10px
    }
    .msg-txt {
        color: #333;
        margin-bottom: 15px;
    }
    input.pswd-field {
        border: 1px solid #ddd;
        padding: 0 4px 2px 2px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        background: #eee;
    }
    .btn-blck {
        margin-top: 15px;
        border-top: 0.5px solid #5c898c;
        width: 100%;
        button:first-child {
            border-right: 0.5px solid #5c898c;
        }
        button {
            color:#0778fa;
            font-size: 16px;
            font-weight: 500;
            border: none;
            width: 45%;
            padding: 10px;
            background: transparent;
        }
    }
}

ion-view.layout-align-space-between-center.layout-column {
    > div {
        width: 100%;
    }
    .page-footer {
        button {
            margin-bottom: 0;
        }
    }
}

.scroll-on-overflow {
    overflow: scroll;
}

.content.cntct ion-list {
    text-align: left;
}

.popup-container.checkTouchId {
    z-index: 11;
    .popup {
        width: 100%;
        height: 100%;
        max-height: 100%;
        border-radius: 0;
        padding: 20px 0 0;
        background-color: $color-basic-blue;
        color: $color-white;
        .popup-body {
            padding: 0;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
        }
        .logout {
            width: 100%;
            text-align: right;
            img {
                height: 15px;
                margin: 5px 0 5px 10px;
            }
        }
        .lock {
            font-size: 24px;
            img {
                height: 100px;
            }
        }
        .touchid {
            img {
                height: 100px;
            }
        }
        .popup-footer {
            background-color: $color-white;
            color: $color-basic-grey;
        }
    }
}

.bg-grey {
    background: #f5f5f5;
}

.page-footer {
    button.bluetxt {
        color: $color-basic-mint;
    }
}

.screen-sect {
    top: 0 !important;
}

.screen-height {
    height: 87%;
}

.screen-height-cntct {
    height: 78%;
}

.footer-bottom {
    margin-bottom: 0;
    margin-top: auto;
    padding-bottom: 0;
}

.scroll-on-overflow {
    overflow-y: scroll;
}



//.backdrop, .loading-container{
//    z-index: 112;
//}

/* #### iPhone 4 Portrait or Landscape #### */
@media (max-device-height: 480px) and (device-width: 320px) {
    body {
        zoom: .9;
    }
}

@import 'scss/page-welcome';
@import "scss/page-login";
@import "scss/page-setup-profile";
@import "scss/page-setup-choose";
@import "scss/page-setup-gateway";
@import "scss/page-setup-devices";
@import "scss/page-setup-subscription";
@import "scss/tabs";
@import "scss/page-devices";
@import "scss/page-timeline";
@import "scss/page-cameras";
@import "scss/page-settings";
@import "scss/page-alert";
@import "scss/page-quickactions";
@import "scss/page-user";
@import "scss/page-ifttt";
@import "scss/dialog-gateway-status";
@import "scss/dialog-volume";
@import "scss/dialog-notification";
@import "scss/dialog-tutorial";

