ion-view.page-welcome
    ion-slide-box(auto-play='true', slide-interval='4000')
        ion-slide
            .slide-block(layout='column', layout-align='center center')
                div.image(flex='', style='background-image: url(assets/images/welcome/logo.png); width: 150px;')
                div.title Welcome to abode
                div.title The Connected,&nbsp;
                    br
                    | Protected Home.
        ion-slide
            .slide-block(layout='column', layout-align='space-around center')
                div.image(flex='', style='background-image: url(assets/images/welcome/events.png);')
                div.title Verify all events to prevent false alarms
        ion-slide
            .slide-block(layout='column', layout-align='space-around center')
                div.image(flex='', style='background-image: url(assets/images/welcome/notifications.png);')
                div.title Get Instant Notifications
    .bar.bar-footer
        button.button.button-clear(ui-sref='register') Register
        button.button.button-clear.color-mint(ui-sref='signin') Sign In
