doctype
html
    include components/_global/_global.header.jade
    body(layout='column')
        ion-nav-bar
            //ion-nav-back-button
        ion-nav-view
        #fullscreen
        #fullscreenDetail
    include components/_global/_global.footer.jade

